<h1>Distribution Escalation Group</h1>
<p>Welcome! In this site, you can toggle escalation to a second team to answer contacts:</p>
<br/><br/>
<p>Tenant Name: <strong>ANZ CSAM 2.0 (Calling)</strong></p>
<p>Current Escalate Toggle State: <strong>DEACTIVATED</strong></p><button type="button" class="btn btn-danger" disabled>ESCALATE</button>
<br/><br/>
<a>..... Please hold-on while we activate Escalate Toggle</a>  <a class="btn btn-outline-dark btn-sm" href="distiescalate.html" role="button">Refresh Screen</a>
<br/><br/><br/><br/><br/><br/><br/><br/>

<!--
{{#each gcfToken}}
    {{@key}} | {{this}}<br/>
{{/each}}
-->