<h1>Emergency Setting</h1>
<p>Welcome! In this site, you can toggle the Emergency flag of your tenant to activate your emergency flow:</p>
<br/><br/>
<p>Tenant Name: <strong>ANZ CSAM 2.0 (Calling)</strong></p>
<p>Current Emergency Flag State: <strong>DEACTIVATED</strong></p><button type="button" class="btn btn-danger" disabled>ACTIVATE Emergency</button>
<br/><br/>
<a>..... Please hold-on while we activate Emergency Flag</a>  <a class="btn btn-outline-dark btn-sm" href="emergency.html" role="button">Refresh Screen</a>
<br/><br/><br/><br/><br/><br/><br/><br/>
<br/>

<!--
{{#each gcfToken}}
    {{@key}} | {{this}}<br/>
{{/each}}
-->