<div class="jumbotron">
        <h1 class="display-4">Welcome to APJC CSM WxCC Tenant!</h1>
        <p class="lead">Here, you can set a couple of GV values as flags to influence your flows</p>
        <hr class="my-4">
        <p>These are the GVs you can set via this URL.</p>
        <a class="btn btn-secondary btn-lg" href="emergency.html" role="button">Emergency</a>
        <br/><br/>
        <a class="btn btn-secondary btn-lg" href="distiescalate.html" role="button">Distribution Group Escalation</a>
        <br/><br/><br/><br/>
        <p>{{ stuff}}</p>
        <p>{{morestuff}}</p>
      </div>
<br/><br/><br/>